{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "overrides": [
        {
            "files": "*.scss",
            "options": { "tabWidth": 2 }
        },
        {
            "files": "*.json",
            "options": { "tabWidth": 2 }
        }
    ]
}
