<div class="header">
    <div class="template-operation-area">
        <!-- card template operations    -->
        <app-card-tpl-ops
            [opts]="vm.cardTplOpts"
            [selected]="vm.selCardTpl()"
            (selectedChange)="vm.pickCardTpl($event)"
            (menuClick)="vm.addCardTpl()"
        ></app-card-tpl-ops>

        <!-- note template operations -->
        <app-note-tpl-ops
            [opts]="vm.noteTplOpts()"
            [selected]="vm.selNoteTpl()"
            (selectedChange)="vm.pickNoteTpl($event)"
            (menuClick)="vm.handleNoteTplAction($event)"
        ></app-note-tpl-ops>
    </div>

    <mat-radio-group
        class="tabs"
        [value]="vm.section()"
        (change)="onSectionChange($event.value)"
    >
        <mat-radio-button class="tab" value="front">
            {{ "PAGES.PROCESSING.BENCH.TEMPLATE_EDIT.FRONT_TEMPLATE" | translate }}
        </mat-radio-button>
        <mat-radio-button class="tab" value="back">
            {{ "PAGES.PROCESSING.BENCH.TEMPLATE_EDIT.BACK_TEMPLATE" | translate }}
        </mat-radio-button>
        <mat-radio-button class="tab" value="css">
            {{ "PAGES.PROCESSING.BENCH.TEMPLATE_EDIT.CSS_TEMPLATE" | translate }}
        </mat-radio-button>
    </mat-radio-group>
</div>

<div class="editor">
    @switch (vm.section()) {
        @case ("front") {
            <app-note-template-editor-textarea
                [value]="vm.frontTpl()"
                [placeholder]="'PAGES.PROCESSING.BENCH.TEMPLATE_EDIT.FRONT_PLACEHOLDER' | translate"
                (valueChange)="vm.frontTpl.set($event)"
            ></app-note-template-editor-textarea>
        }
        @case ("back") {
            <app-note-template-editor-textarea
                [value]="vm.backTpl()"
                [placeholder]="'PAGES.PROCESSING.BENCH.TEMPLATE_EDIT.BACK_PLACEHOLDER' | translate"
                (valueChange)="vm.backTpl.set($event)"
            ></app-note-template-editor-textarea>
        }
        @case ("css") {
            <app-note-template-editor-textarea
                [value]="vm.cssTpl()"
                [placeholder]="'PAGES.PROCESSING.BENCH.TEMPLATE_EDIT.CSS_PLACEHOLDER' | translate"
                (valueChange)="vm.cssTpl.set($event)"
            ></app-note-template-editor-textarea>
        }
    }
</div>
