<div class="header">
    <div class="template-operation-area">
        <!-- card template operations    -->
        <div class="labeled-ops">
            <span>{{ "PAGES.PROCESSING.BENCH.TEMPLATE_EDIT.CARD_TEMPLATE_LABEL" | translate }}</span>
            <app-card-tpl-ops
                (selectedChange)="onCardTplSelected($event)"
            ></app-card-tpl-ops>
        </div>

        <!-- note template operations -->
        <div class="labeled-ops">
            <span>{{ "PAGES.PROCESSING.BENCH.TEMPLATE_EDIT.NOTE_TEMPLATE_LABEL" | translate }}</span>
            <app-note-tpl-ops
                (selectedChange)="onNoteTplSelected($event)"
            ></app-note-tpl-ops>
        </div>
    </div>

    <div class="tabs-save-row">
        <!-- section tabs -->
        <mat-radio-group
            class="tabs"
            [value]="section()"
            (change)="onSectionChange($event.value)"
        >
            <mat-radio-button class="tab" value="front">
                {{ "PAGES.PROCESSING.BENCH.TEMPLATE_EDIT.FRONT_TEMPLATE" | translate }}
            </mat-radio-button>
            <mat-radio-button class="tab" value="back">
                {{ "PAGES.PROCESSING.BENCH.TEMPLATE_EDIT.BACK_TEMPLATE" | translate }}
            </mat-radio-button>
            <mat-radio-button class="tab" value="css">
                {{ "PAGES.PROCESSING.BENCH.TEMPLATE_EDIT.CSS_TEMPLATE" | translate }}
            </mat-radio-button>
        </mat-radio-group>

        <button type="button" mat-flat-button (click)="onSaveTemplate()">
            {{ "PAGES.PROCESSING.BENCH.TEMPLATE_EDIT.SAVE_TEMPLATE.ACTION" | translate }}
        </button>
    </div>
</div>

<div class="editor">
    @switch (section()) {
        @case ("front") {
            <app-note-template-editor-textarea
                [value]="frontTpl()"
                [placeholder]="'PAGES.PROCESSING.BENCH.TEMPLATE_EDIT.FRONT_PLACEHOLDER' | translate"
                (valueChange)="onEditorValueChange($event)"
            ></app-note-template-editor-textarea>
        }
        @case ("back") {
            <app-note-template-editor-textarea
                [value]="backTpl()"
                [placeholder]="'PAGES.PROCESSING.BENCH.TEMPLATE_EDIT.BACK_PLACEHOLDER' | translate"
                (valueChange)="onEditorValueChange($event)"
            ></app-note-template-editor-textarea>
        }
        @case ("css") {
            <app-note-template-editor-textarea
                [value]="cssTpl()"
                [placeholder]="'PAGES.PROCESSING.BENCH.TEMPLATE_EDIT.CSS_PLACEHOLDER' | translate"
                (valueChange)="onEditorValueChange($event)"
            ></app-note-template-editor-textarea>
        }
    }
</div>
