<div class="deck-container">
  <div class="deck-header">
    <span>{{ "PAGES.HOME.DECKS.NAME" | translate }}</span>
    <span>{{ "PAGES.HOME.DECKS.CAN_LEARN_TODAY" | translate }}</span>
    <span>{{ "PAGES.HOME.DECKS.NEW_CARDS" | translate }}</span>
    <span>{{ "PAGES.HOME.DECKS.SHOULD_REVIEW_TODAY" | translate }}</span>
    <span>{{ "PAGES.HOME.DECKS.LEARNING" | translate }}</span>
    <span>{{ "PAGES.HOME.DECKS.RELEARNING" | translate }}</span>
    <span>{{ "PAGES.HOME.DECKS.REVIEWED_TODAY" | translate }}</span>
    <span>{{ "PAGES.HOME.DECKS.NEW_LEARNED_TODAY" | translate }}</span>
    <span>{{ "PAGES.HOME.DECKS.SETTINGS" | translate }}</span>
  </div>

    @for (deck of deckService.deckOverviewList(); track deck.name) {
    <div class="deck-row">
      <a class="deck-link" [routerLink]="['/deck', deck.id, 'start']">
        {{ deck.name }}
      </a>
      <span>{{ deck.canLearnToday }}</span>
      <span>{{ deck.newCards }}</span>
      <span>{{ deck.shouldReviewToday }}</span>
      <span>{{ deck.learning }}</span>
      <span>{{ deck.relearning }}</span>
      <span>{{ deck.reviewedToday }}</span>
      <span>{{ deck.newLearnedToday }}</span>
      <app-deck-settings-menu
        [deck]="deck"
        (configure)="openDeckSettings($event)"
        (delete)="confirmDeleteDeck($event)"
      ></app-deck-settings-menu>
    </div>
    }

    <div class="create-deck-row">
      <input #createInput
        class="create-name-input"
        type="text"
        [(ngModel)]="pendingDeckName"
        (input)="onInputDeckName($event)"
        placeholder="{{ 'PAGES.HOME.DECKS.CREATE_PLACEHOLDER' | translate }}"
      />
      <span>-</span>
      <span>-</span>
      <span>-</span>
      <span>-</span>
      <span>-</span>
      <span>-</span>
      <span>-</span>
      <div class="create-actions">
        <button type="button" mat-icon-button (click)="confirmCreateDeck()">
          <mat-icon>check</mat-icon>
        </button>
        <button type="button" mat-icon-button (click)="cancelCreateDeck()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
