@use '../styles.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

nav {
  height: 56px;
  background-color: rgb(215, 227, 255);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

nav > a {
  color: var(--mat-sys-primary);
}

nav > a.active {
  background: rgb(193, 213, 248);
}

.main-content {
  flex: 1;
  width: 100%;
}

.router-outlet-wrapper {
  height: 100%;
  width: 100%;
}
