@use '../styles.scss' as *;

:host {
  display: block;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  height: 56px;
  background-color: rgb(215, 227, 255);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

nav > a {
  color: var(--mat-sys-primary);
}

nav > a.active {
  background: rgb(193, 213, 248);
}

.main-content {
  flex: 1;
  overflow: auto;
}
