<div class="preview-header">
  <div class="preview-title">
    {{ "PAGES.PROCESSING.PREVIEW.HEADER" | translate }}
  </div>
  <mat-radio-group
    class="preview-controls"
    [value]="previewSide()"
    (change)="setPreviewSide($event.value)"
  >
    <mat-radio-button value="front">
      {{ "PAGES.PROCESSING.PREVIEW.ACTIONS.FRONT" | translate }}
    </mat-radio-button>
    <mat-radio-button value="back">
      {{ "PAGES.PROCESSING.PREVIEW.ACTIONS.BACK" | translate }}
    </mat-radio-button>
  </mat-radio-group>
</div>

<div class="preview-body">
  {{ "PAGES.PROCESSING.PREVIEW.PLACEHOLDER" | translate }}
</div>
