@use "@angular/material" as mat;

:host {
  @include mat.table-overrides(
    (
      row-item-label-text-size: 1rem,
      header-headline-size: 1rem,
    )
  );
}

app-file-input {
  --file-input-path: 60%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  button[type="submit"] {
    font-size: 1rem;
  }
}
