<h2> {{ "PAGES.BROWSE.DIC_IMPORT.TITLE" | translate }} </h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-file-input formControlName="dictionary" [label]="'PAGES.BROWSE.DIC_IMPORT.DICTIONARY' | translate"
        extension="jsonl"></app-file-input>
    <button matButton="outlined" type="submit" [disabled]="isSubmitDisabled()">
        {{ "PAGES.BROWSE.DIC_IMPORT.SUBMIT" | translate }}
    </button>
    @if (isImporting()) {
        <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
    }
</form>

@if (dataSource.length > 0) {
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef> {{ "PAGES.BROWSE.DIC_IMPORT.TABLE_HEADERS.ITEM" | translate }} </th>
            <td mat-cell *matCellDef="let element">{{ element.itemLabelKey | translate }}</td>
        </ng-container>

        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> {{ "PAGES.BROWSE.DIC_IMPORT.TABLE_HEADERS.TOTAL" | translate }} </th>
            <td mat-cell *matCellDef="let element">{{ element.total }}</td>
        </ng-container>

        <ng-container matColumnDef="processed">
            <th mat-header-cell *matHeaderCellDef> {{ "PAGES.BROWSE.DIC_IMPORT.TABLE_HEADERS.PROCESSED" | translate }} </th>
            <td mat-cell *matCellDef="let element">{{ element.processed }}</td>
        </ng-container>

        <ng-container matColumnDef="skipped">
            <th mat-header-cell *matHeaderCellDef> {{ "PAGES.BROWSE.DIC_IMPORT.TABLE_HEADERS.SKIPPED" | translate }} </th>
            <td mat-cell *matCellDef="let element">{{ element.skipped }}</td>
        </ng-container>

        <ng-container matColumnDef="failed">
            <th mat-header-cell *matHeaderCellDef> {{ "PAGES.BROWSE.DIC_IMPORT.TABLE_HEADERS.FAILED" | translate }} </th>
            <td mat-cell *matCellDef="let element">{{ element.failed }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
}
